alias a='opencode --agent plan run'
alias ai='opencode --agent build run'
alias c='cd'
alias cdh='cd ~'
alias e='exit'
alias l='ls'
alias m='mc'
alias n='nnn -deH'
alias o='opencode'
alias p='pwd'
alias q='exit'
alias s='ssh'
alias v='vim'
alias rmrf='rm -rf'

alias grep='grep --color=always'
alias py=python3
alias shutdown='sudo shutdown -f now'
alias less='less -r'
#alias ls='exa'
alias diff='nvim -d'
alias nvim='nvim -u ~/.vimrc'
alias vim='nvim -u ~/.vimrc'
alias vi='nvim -u ~/.vimrc'
alias psaux='ps axo user:20,pid,pcpu,pmem,vsz,rss,tty,stat,start,time,comm'
alias wgetc='wget -c --progress=bar '
alias mm='macmon'
alias vf='vifm'

alias tmuxoff='tmux set prefix None && tmux set key-table off && tmux set status-style "fg=colour245,bg=colour238" && tmux set window-status-current-style "fg=colour232,bold,bg=colour254" && tmux refresh-client -S'

alias tmuxon='tmux set -u prefix && tmux set -u key-table && tmux set -u status-style && tmux set -u window-status-current-style && tmux refresh-client -S'

alias gs='git s'
alias gl='git log'
alias gpom='git pull origin main'
alias gpoma='git pull origin master'
alias gpuom='git push -u origin main'
alias gpuoma='git push -u origin master'
alias gcm='git commit -m '
alias gca='git commit --amend '
alias gau='git add -u'
alias ga='git add'
alias gr='git restore'
alias grs='git restore --staged '
alias gds='git diff --staged '
alias gd='git diff'

alias scsts='systemctl status'
alias sce='systemctl enable'
alias scr='systemctl restart'
alias scd='systemctl disable'
alias scstp='systemctl stop'
alias scdr='systemctl daemon-reload'


